<div class="marquee-container marquee-below-feed">
	<p class="marquee marquee-top-text">{{site.data.general.marquee.second.top}}</p>
	<p class="marquee">{{site.data.general.marquee.second.bottom}}</p>
</div>

<section id="about">
	<div class="about-container">
		<h2>About</h2>
		<div class="row">
			{% for col in site.data.general.about %}
				<div class="col-lg-4 about-column">
					<h5>{{ col.title }}—</h5>
					{{ col.text | newline_to_br | markdownify  }}
				</div>
			{% endfor %}
			<div class="col-lg-4">
				<h5>Contact—</h5>
				<ul>
					{% for link in site.data.general.contact %}
						<li><a href="{{link.url}}" target="_blank"><p>{{link.name}}</p></a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="marquee-container">
		<p class="marquee marquee-top-text">{{site.data.general.marquee.third.top}}</p>
		<p class="marquee">{{site.data.general.marquee.third.bottom}}</p>
	</div>
	<p id="copyright">&#xa9; <script>document.write(new Date().getFullYear())</script> {{site.data.general.title}}. All rights reserved. Site by <a href="https://oliviachang.me">Olivia Chang</a>.</p>
</section>